
.menu {
	position:relative;
	top: 15px;
	left:300px;
}
.menu li {
	background-image:url(../../images/index/nav_abg.png);
	#background: url(../../images/index/nav_abg.png) no-repeat scroll right center transparent;
	float:left;
	list-style: none outside none;
	width: 83px;
	display: inline-block;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 83px;
	margin-left:50px;
}
.logo {
	position: absolute;
   # float: left;
    height: 70px;
   # padding-left: 8px;
   # padding-top: 3px;
    width: 202px;
	background-image:url(../../images/index/logo.jpg)
}
.best{

	top:376px;
	left: 437px;
	background-image:url(../../images/index/show_bg.png);
	width:341px;
	height:314px;

}
.info{
	top:378px;
	left: 94px;
	background-image:url(../../images/index/shengdan_ad.png);
	width:278px;
	height:286px;
}
.move_up{
	position:absolute;
	z-index:100;
}
.content{
	background-image:url(../../images/index/bodypic7.jpg);
	height:80%;
	width:100%;
	position:absolute;
	#left: 13px;
	top: 94px;
}
.footer{
	position:fixed;
	top:92%;
	width: 100%;
	z-index:101;
	background-color:#FF0;
}
